@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.bg-img-1 {
  background-image: url(../img/property-img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-grd {
  background: rgb(44, 70, 122);
  background: linear-gradient(
    0deg,
    rgba(44, 70, 122, 1) 25%,
    rgba(198, 148, 54, 1) 79%
  );
}
